[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dataset = "*"
requests = "*"
"psycopg2-binary" = "*"

[dev-packages]
zappa = "*"

[requires]
python_version = "3.6"
